<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>

<h2>Inam Sataria first task</h2>
<div>List of books..</div>
 {% for item in all %}
    {{item.name}} ---- {{item.description}}
    <br>
{% endfor %} 

</body>
</html>